:root {
  --el-color-primary: #ff69b4 !important;
  --el-color-primary-light-3: #ff87c1 !important;
  --el-color-primary-light-5: #ffa5d0 !important;
  --el-color-primary-light-7: #ffc3de !important;
  --el-color-primary-light-8: #ffd1e5 !important;
  --el-color-primary-light-9: #ffe9f2 !important;
  --el-color-primary-dark-2: #ff47a3 !important;
}